# ------------------------
# Windows OS
# ------------------------
# Thumbnail cache files
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# ------------------------
# Node (Frontend)
# ------------------------
# dependencies
frontend/node_modules/

# build outputs
frontend/dist/
frontend/build/

# VS Code
.vscode/

# logs
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

# ------------------------
# Java (Backend)
# ------------------------
# compiled class files
backend/**/*.class

# packaged archives
backend/**/*.jar
backend/**/*.war

# Spring Boot build folder
backend/target/

# Eclipse / IntelliJ
*.iml
.idea/
*.ipr
*.iws
*.log

# Maven
backend/.mvn/
backend/mvnw
backend/mvnw.cmd
backend/pom.xml.tag
backend/pom.xml.releaseBackup
backend/pom.xml.versionsBackup
backend/target/

# Gradle
backend/.gradle/
backend/gradlew
backend/gradlew.bat
backend/build/

# ------------------------
# 공통 설정
# ------------------------
# 환경 변수 파일
.env
*.env.local
*.env.development.local
*.env.test.local
*.env.production.local

# OS 임시 파일
*~ 
*.swp
